body {
    background-color: #E6D0DE;
    font-size: large;
    font-family: Verdana, Tahoma, sans-serif;
}

.mainContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.textBox {
    border-color: black;
    box-sizing: content-box;
    margin: 2%;
}

.fontSize {
    padding: 3px;
}

.plus,
.less {
    font-size: large;
    width: 50px;
    margin: 20px;
}

.buttonMicrophone {
    margin: auto;
    width: 70px;
    height: 60px;

}

.buttonMicrophone img {
    width: 50px;
    height: 50px;
}

.topText {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.title {
    grid-column:4;
    
}
.buttonDark {
    grid-column: 7;
    margin: auto;   
    border-radius: 50%;
}
.buttonDark img {
    width: 40px;
    height: 40px;
}